.products {
  width: 100%;
  margin: 1rem auto 0;
  padding: 0 1rem;
  gap: 2rem;

  @include minViewport(laptop) {
    @include flex-container(row);
    padding: 0 2rem;
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
