.product-skeleton-image {
  height: 200px;
  width: 200px;
  background-color: var(--text-color);
  border-radius: 8px;
  margin-right: 1.5rem;
}

.product-skeleton-name {
  height: 1.5rem;
  width: 400px;
  background-color: var(--text-color);
  border-radius: 4px;
}

.product-skeleton-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-skeleton-description::before, .product-skeleton-description::after {
  content: '';
  height: 1.25rem;
  background-color: var(--faded-text-color);
  width: 90%;
  border-radius: 4px;
}

.product-skeleton-price {
  margin-top: 0.5rem;
  height: 1.5rem;
  background-color: var(--text-color);
  width: 80px;
  border-radius: 4px;
}
