.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  animation: shimmer 2s infinite;
  background: linear-gradient(
                  to right,
                  transparent,
                  var(--outline),
                  transparent
  );
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
