.top-nav {
  z-index: 2;
  position: fixed;
  @include flex-container(null, space-between, center);
  width: 100lvw;
  height: var(--top-nav-height);
  padding: 10px 2lvw;
  background-color: #181b26;
  border-bottom: 1px solid var(--outline);

  * {
    display: flex;
  }

  li {
    list-style-type: none;
    position: relative;
  }

  li:not(:last-of-type) {
    margin-right: .5rem;
  }

  a {
    &:hover {
      img, svg {
        width: var(--top-nav-icon-hover-size);
        height: var(--top-nav-icon-hover-size);
      }
    }
  }

  @include minViewport(laptop) {
    padding: 10px 1lvw;
  }

  @media (prefers-color-scheme: light) {
    background-color: white;
  }
}

.top-nav-left {
  > *:first-child {
    border-right: 2px solid var(--outline);
    padding-right: .75rem;
  }
}

.wish-list-notification {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  @include card-container(#4CAF50, 4px, none, 4px 8px);
  color: white;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  animation: fadeInOut 3s ease-in-out forwards;

  @include minViewport(laptop) {
    font-size: 14px;
    padding: 6px 10px;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
