.new-look {
  position: fixed;
  top: var(--top-nav-height);
  right: 1rem;
  max-width: 24rem;
  @include card-container(var(--foreground), 8px, 1px solid var(--warning-color), 1rem)
}

.new-look-content {
  @include flex-between;
  align-items: flex-start;
}

.new-look-text {
  flex: 1;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-color);
  }

  p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--faded-text-color);
  }
}

.new-look-close {
  margin-left: 1rem;
  color: var(--interactive-color);

  &:hover {
    background-color: var(--background);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}
