.product-item {
  @include flex-container(column);
  @include card-container;

  @include minViewport(laptop) {
    flex-direction: row;
  }
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 1.5rem;

  @include minViewport(laptop) {
    min-width: 200px;
  }
}

.product-main-image {
  object-fit: contain;
  border-radius: 4px;
  height: 160px;
  width: auto;

  &:hover {
    transform: scale(1.05);
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  flex: 1;
}

.product-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

.product-description {
  @include product-description;
  font-size: 0.95rem;
  color: var(--faded-text-color);
}

.product-features-header {
  margin-bottom: 1rem;
}

.product-features {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.feature-tag {
  background: var(--background);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.product-purchase-section {
  @include flex-container(column);
  gap: 1.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--outline);
}

.product-options {
  @include flex-container(column);
  gap: 1.25rem;
  margin: 0.5rem 0;

  @include minViewport(laptop) {
    flex-direction: row;
  }
}

.option-group {
  @include flex-container(column);
  gap: 0.5rem;

  label {
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.95rem;
  }
}

.product-metadata {
  @include flex-container(null, center, center);
  justify-content: flex-start;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.product-price {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
}

.product-quantity {
  color: var(--text-color);
  font-size: 0.95rem;
  @include flex-container(null, center, center);
  justify-content: flex-start;
  gap: 0.5rem;

  .out-of-stock {
    color: var(--warning-color);
    font-weight: 500;
  }
}

.product-discontinued {
  @include card-container(var(--warning-background-color), 4px, none, 0.25rem 0.75rem);
  color: var(--warning-color);
  font-weight: 500;
  font-size: 0.95rem;
}

.product-actions {
  @include flex-container(row, null, flex-end, 0.75rem);
  margin-top: 0.5rem;
  text-align: center;

  @include minViewport(laptop) {
    flex-direction: column;
  }
}

.product-details-button {
  @include button-style(0.5rem 1.25rem);
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin-left: auto;
  margin-top: auto;
  background-color: var(--interactive-color);

  &:hover {
    background-color: var(--faded-interactive-color);
  }
}

.wish-list-button {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;

  &:hover {
    transform: scale(1.1);
  }

  &.in-wish-list {
    .heart-icon {
      color: var(--warning-color);
    }
  }
}
