:root {
  --background: #dddddd;
  --foreground: white;
  --outline: #e6ebf2;
  --text-color: black;
  --faded-text-color: #94a3b8;
  --interactive-color: #3b82f6;
  --faded-interactive-color: #0b5ed7;
  --warning-color: #dc2626;
  --warning-background-color: #fee2e2;
  --success-color: #4CAF50;
  --top-nav-height: 43px;
  --top-nav-icon-hover-size: 30px;
  --footer-height: 60px;

  @media (prefers-color-scheme: dark) {
    --background: #14171f;
    --foreground: #1d212f;
    --outline: #262b38;
    --text-color: #f9fafb;
  }

  @media (min-width: 768px) {
    --top-nav-height: 47px;
    --top-nav-icon-hover-size: 34px;
  }
}
