.product-page-container {
  margin: 0 auto;
  padding: 0 1rem;

  @include minViewport(laptop) {
    padding: 0 2rem;
  }
}

.product-navigation {
  width: fit-content;
  margin-bottom: 1rem;
}

.all-products-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--faded-text-color);
  text-decoration: none;
  width: fit-content;

  &:hover {
    color: var(--interactive-color);
  }
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--background);
  @include minViewport(laptop) {
    grid-template-columns: 1fr 1fr;
  }
}
