.product-page-container {
  margin: 0 auto;
  padding: 0 1rem;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--background);
  padding: 2rem;
}

@media (max-width: 768px) {
  .product-details-container {
    grid-template-columns: 1fr;
  }
  .product-main-image {
    width: 100%;
    height: auto;
  }
}

.product-navigation {
  margin-bottom: 1rem;
}

.all-products-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--faded-text-color);
  text-decoration: none;
  width: fit-content;

  &:hover {
    color: var(--interactive-color);
  }
}
