.product-page-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-page-main-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  object-fit: contain;
  @include minViewport(laptop) {
    width: 400px;
    height: auto;
  }
}

.product-page-info {
  @include flex-container(column);
  @include card-container(var(--foreground), 8px, 1px solid var(--outline), 1.5rem);
  gap: 1.5rem;
}

.product-info-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.product-page-name {
  font-size: 2rem;
}

.product-page-description {
  @include product-description;
  font-size: 1.1rem;
  white-space: pre-wrap;
}
