.contact-form {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: 500;
  }

  textarea {
    resize: vertical;
  }

  input,
  textarea {
    @include card-container(var(--foreground), 4px, 1px solid var(--text-color), .8rem);
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
  }
}

.submit-button {
  @include button;
}
