.products {
    width: 100%;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}
.products-table {
    border-collapse: collapse;
    width: 100%;
    tbody {
        tr {
            border-bottom: 1px solid var(--foreground);
        }
        tr:last-child {
            border-bottom: none;
        }
    }
}
