.top-nav {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100lvw;
  height: 43px;
  padding: 10px 1lvw;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  @media (min-width: 768px) {
    height: 47px;
  }
  * {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  li:not(:last-of-type) {
    margin-right: .5rem;
  }
  a:hover {
    img, svg {
      width: 30px;
      height: 30px;
      @media (min-width: 768px) {
        width: 34px;
        height: 34px;
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 32px;*/
  @media (min-width: 768px) {
    position: relative;
    bottom: 50px;
  }
}
header {
  position: relative;
  display: flex;
}
.header-logo {
  position: absolute;
  top: 55%;
  left: 29%;
  transform: translate(-50%, -50%);
}
footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.copyright {
  text-align: center;
}
