/*.page {*/
/*  --gray-rgb: 0, 0, 0;*/
/*  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);*/
/*  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);*/

/*  --button-primary-hover: #383838;*/
/*  --button-secondary-hover: #f2f2f2;*/

/*  display: grid;*/
/*  grid-template-rows: 20px 1fr 20px;*/
/*  align-items: center;*/
/*  justify-items: center;*/
/*  min-height: 100svh;*/
/*  padding: 80px;*/
/*  gap: 64px;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  .page {*/
/*    --gray-rgb: 255, 255, 255;*/
/*    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);*/
/*    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);*/

/*    --button-primary-hover: #ccc;*/
/*    --button-secondary-hover: #1a1a1a;*/
/*  }*/
/*}*/

/*.main {*/
/*  padding: 32px 32px 80px;*/
/*}*/

/*main code {*/
/*  background: var(--gray-alpha-100);*/
/*  padding: 2px 4px;*/
/*  border-radius: 4px;*/
/*  font-weight: 600;*/
/*}*/

/*.a {*/
/*  background: var(--foreground);*/
/*  color: var(--background);*/
/*  gap: 8px;*/
/*}*/

.top-nav {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100lvw;
  height: 43px;
  padding: 10px 1lvw;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  * {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  li:not(:last-of-type) {
    margin-right: .5rem;
  }
  a:hover {
    img, svg {
      width: 30px;
      height: 30px;
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 32px;*/
  @media (min-width: 768px) {
    position: relative;
    bottom: 50px;
  }
}
header {
  position: relative;
  display: flex;
}
.header-logo {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.copyright {
  text-align: center;
}

/* Enable hover effects only on non-touch devices to avoid unwanted behavior on touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    /*background: var(--button-primary-hover);*/
    border-color: transparent;
  }
}
/* Vertically center header-image, if the lvh is less than the height of the header-image */
@media (max-height: calc(100lvw * 674/1080)) {
  .header-image {
    position: relative;
    bottom: calc((100lvw * 674/1080 - 100lvh) / 2);
  }
}