.top-nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100lvw;
  height: var(--top-nav-height);
  padding: 10px 1lvw;
  justify-content: space-between;
  background-color: #181b26;
  border-bottom: 1px solid var(--outline);
  @media (prefers-color-scheme: light) {
    background-color: white;
  }
  * {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  li:not(:last-of-type) {
    margin-right: .5rem;
  }
  a:hover {
    img, svg {
      width: var(--top-nav-icon-hover-size);
      height: var(--top-nav-icon-hover-size);
    }
  }
}
.top-nav-left {
  > *:first-child {
    border-right: 2px solid var(--outline);
    padding-right: .75rem;
    margin-right: .75rem !important;
  }
}
main {
  position: relative;
  top: var(--top-nav-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 1.5rem;
}
.header-logo {
  margin: 0 auto;
  display: flex;
}
footer {
  position: relative;
  top: var(--top-nav-height);
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.copyright {
  text-align: center;
}

