.products {
    width: 100%;
    max-width: 1200px;
    /*padding: 0 1rem;*/
}
.products-table {
    border-collapse: collapse;
    width: 100%;
    tbody {
        tr {
            border-bottom: 1px solid var(--foreground);
        }
        tr:last-child {
            border-bottom: none;
        }
    }
}
