@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin minViewport($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  }
}