@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin minViewport($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  }
}

@mixin card-container($background-color: var(--foreground), $border-radius: 8px, $border: 1px solid var(--outline), $padding: 2rem) {
  background-color: $background-color;
  border-radius: $border-radius;
  border: $border;
  padding: $padding;

  @include minViewport(tablet) {
    padding: 1.5rem;
  }
}
