.top-nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100lvw;
  height: var(--top-nav-height);
  padding: 10px 2lvw;
  justify-content: space-between;
  background-color: #181b26;
  border-bottom: 1px solid var(--outline);
  @media (min-width: 768px) {
    padding: 10px 1lvw;
  }
  @media (prefers-color-scheme: light) {
    background-color: white;
  }
  * {
    display: flex;
  }
  li {
    list-style-type: none;
  }
  li:not(:last-of-type) {
    margin-right: .5rem;
  }
  a:hover {
    img, svg {
      width: var(--top-nav-icon-hover-size);
      height: var(--top-nav-icon-hover-size);
    }
  }
}
.top-nav-left {
  > *:first-child {
    border-right: 2px solid var(--outline);
    padding-right: .75rem;
  }
}
main {
  position: relative;
  top: var(--top-nav-height);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 1.5rem;
  min-height: calc(100vh - var(--top-nav-height) - var(--top-nav-height) - var(--footer-height));
}
.header-logo {
  margin: 0 auto 2rem;
  display: flex;
}
footer {
  position: relative;
  top: var(--top-nav-height);
  margin-top: 2rem;
  padding-bottom: 1rem;
  height: var(--footer-height);
}
.copyright {
  text-align: center;
}

.new-look {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 24rem;
  background-color: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  border: 1px solid var(--outline);
}
.new-look-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.new-look-text {
  flex: 1;
  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-color);
  }
  p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--faded-text-color);
  }
}
.new-look-close {
  margin-left: 1rem;
  color: var(--interactive-color);
}
.new-look-close:hover {
  color: var(--faded-interactive-color);
}
