@import './mixins';

.contact-form {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-weight: 500;
  }

  textarea {
    resize: vertical;
  }

  input,
  textarea {
    @include form-input;
  }
}

.submit-button {
  @include button;
}
